<div class="chat_header">
  <div class="left_header">
    <div class="header_title">
      <%= @room.name %>
    </div>
  </div>
  <div class="right_header">
    <div class="chat_finish">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat_window">
  <%= render partial: 'message', collection: @messages %>
  <%# <div class="message_box">
    <div class="message_detail">
      <div class="message_user">
        Tom
      </div>
      <div class="message_time">
        2020/10/10(Wed) 12:40:30
      </div>
    </div>
    <div class="message_text">
      おはよう
    </div>
  </div>
  <div class="message_box">
    <div class="message_detail">
      <div class="message_user">
        Tom
      </div>
      <div class="message_time">
        2020/10/10(Wed) 12:43:30
      </div>
    </div>
    <div class="message_text">
      おはよう
    </div>
  </div> %>
</div>
<div class="input_form">
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="chat_form">
    <%= f.text_field :content, class: 'text_form', placeholder: 'type a message' %>
    <label class="image_form">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send_form' %>
<% end %>
  <%# <div class="chat_form">
    <input class="text_form" placeholder= "type a message">
    <label class="image_form">
      <span class="image-file">画像</span>
        <input type="file" class="hidden">
    </label>
  </div>
  <input class="send_form" type="submit" value="送信"> %>
</div>